@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: black;
    color: white;
}
#title{
    text-shadow: 2px 2px 5px white;
    text-align: center;
    font-size: 55px;
    margin: 15px 0;
    color: black;
}
#description{
    width: 50vw;
    margin: 20px auto;
}
.form_container{
    border: 2px solid white;
    width: 60vw;
    margin: 20px auto;
    height: 100%;
    padding: 15px 15px;
}
label{
    font-size: 20px;
    font-style: italic;
}
.input{
    width: 15rem;
    height: 40px;
    border: 2px solid white;
    background-color: black;
    border-radius: 10px;
    padding: 0 5px;
    margin: 12px;
    color: white;
}
.hr{
    background-color: gray;
    margin: 10px 0;
}
#dropdown{
    font-size: 15px;
    font-style: italic;
    background-color: black;
    color: white;
}
.choose{
    margin: 20px 12px;
}
#textarea{
    display: block;
    width: 80%;
    margin: 20px auto;
    border: 2px solid white;
}
button{
    display: block;
    width: 30%;
    height: 2rem;
    margin: 12px auto;
    background-color: red;
    border: 2px solid yellow;
    border-radius: 5px;

}
@media screen and (max-width : 475px) {
    .input{
    width: 10rem;
    }
    .checkbox{
        font-size: 10px;
    }
    button{
        width: 70%;
    }
}
@media screen and (max-width : 300px) {
    .input{
    width: 8rem;
    }
}